<!doctype html>
<html lang='en'>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
<meta charset="utf-8">    
<title>My app</title>    
    </head>
<body>
    
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav nav-tabs pull-right">
<li  role="presentation" ><a class="navbar-brand" href="index.ejs"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> </li>   
   <li role="presentation" ><a class="navbar-brand"href="login.ejs">Login</a></li> 
           
    <li role="presentation" ><a class="navbar-brand"href="about.ejs">About</a></li>
   <li role="presentation" > <a class="navbar-brand" href="contact.ejs">Contact</a></li>
        </ul>
        
   
    
    </nav>
     <h1> My app</h1>
    <%= new Date()%>
    
    </div>
    </body>
</html>
